.table {
--table-header-bg-color: theme("colors.background.300");
--table-text-color: theme("colors.text.100");
--table-body-row-odd-bg-color: theme("colors.background.100");
--table-body-row-odd-bg-color-hover: theme("colors.brand.200");
--table-body-row-even-bg-color: theme("colors.background.300");
--table-icon-text-color: theme('colors.icons.100');

&.dark {
--table-header-bg-color: theme("colors.dark.background.300");
--table-text-color: theme("colors.dark.text.100");
--table-body-row-odd-bg-color: theme("colors.dark.background.100");
--table-body-row-odd-bg-color-hover: theme("colors.dark.brand.200");
--table-body-row-even-bg-color: theme("colors.dark.background.300");
--table-icon-text-color: theme('colors.dark.icons.100');

}
width: 100%;
	table-layout: fixed;
	direction: rtl;
}

.wrapper {
	position: relative;
	height: 100%;
	overflow-x: scroll;

}



.thead,
.tbody {

	.tr {
		height: 4rem;

		.th,
		.td {
			border-collapse: collapse;
			padding: 0 8px;
			overflow: hidden;
			white-space: nowrap;
			vertical-align: middle;
			text-align: center;
		}
	}
}

.thead {
	.tr > .th {
		background-color: var(--table-header-bg-color);
		font-size: 1.2rem;
		font-weight: 400;
		user-select: none;
		color: var(--table-text-color);

		&.selectable {
			cursor: pointer;
		}

		.cell {
			position: relative;
			width: 100%;
			height: 100%;
			justify-content: center;
			align-items: center;
			display: flex;
		}
	}
}

.tbody {
	height: calc(100% - 4rem);
	color: var(--table-text-color);
	

	.tr {

	background-color: var(--table-body-row-odd-bg-color);



		&:nth-child(2n) {
			background-color: var(--table-body-row-even-bg-color);

			
		}

		& > .td {
			
			font-size: 1.2rem;
		}
	}
}

.icon {
	width: 17px;
	height: 17px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--table-icon-text-color);
}






