& {
	--scrollbar-thumb: rgba(59, 60, 73);
	--scrollbar-track: rgba(23, 24, 30);
	--bg-color: rgb(23, 24, 30);
	--spinner-color: rgb(191, 215, 255);
	--skeleton-from-bg: rgb(44, 45, 53);
	--skeleton-to-bg: rgb(58, 59, 69);
	--skeleton-bg: rgb(47, 51, 61);
	// ag-grid
	--ag-row-active-color: rgba(61, 70, 96, 1);
	--text-color: rgb(233, 233, 233);
}
