& {
	--scrollbar-thumb: rgb(217, 217, 217);
	--scrollbar-track: rgb(255, 255, 255);
	--bg-color: rgb(255, 255, 255);
	--spinner-color: rgb(37, 74, 111);
	--skeleton-from-bg: rgb(243, 245, 247);
	--skeleton-to-bg: rgb(224, 230, 235);
	--skeleton-bg: rgb(226, 229, 239);

	--text-color: rgb(84, 83, 91);
}
