@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
	.input-group {
		transition: border-color 250ms;
		border-width: 1px;
		@apply   border-lines-200 dark:border-dark-lines-200;

		&:focus-within
		input:focus,
		textarea:focus {
			@apply  border-brand-200 dark:border-brand-200;
		}

		input,textarea {
			@apply bg-transparent text-text-100 placeholder:text-text-200 dark:text-dark-text-100 dark:placeholder:text-dark-text-200;
		}

		&.error {
		@apply border border-error-300 dark:border-dark-error-300;

		input,textarea {
			@apply bg-transparent text-error-300 dark:text-dark-error-300;
		}

		}
	};

	.btn-primary {
		@apply text-dark-text-100 dark:text-dark-text-100 bg-brand-200 dark:bg-dark-brand-200;
		transition:
			color 250ms,
			background-color 250ms,
			border-color 250ms;

		&:not(:disabled):hover {
			@apply bg-brand-200/90 dark:bg-dark-brand-200/90;
		}


		&:disabled {
			@apply bg-brand-200/40 dark:bg-dark-brand-200/40  text-dark-text-200 dark:text-dark-text-200;
			opacity: 1;
		}
	}

	.btn-primary-outline {
		@apply text-brand-200 dark:text-dark-brand-200 bg-transparent border border-brand-200 dark:border-dark-brand-200;
		transition:
			color 250ms,
			background-color 250ms,
			border-color 250ms;

		&:not(:disabled):hover {
			@apply text-brand-200/90 dark:text-dark-brand-200/90 border-brand-200/90 dark:border-dark-brand-200/90;
		}


		&:disabled {
			@apply text-brand-200/40 dark:text-dark-brand-200/40 border-brand-200/40 dark:border-dark-brand-200/40;

		}

		
	}
	.button-tab {
			@apply rounded-md  border border-transparent bg-background-300  font-normal text-text-200 transition-colors dark:bg-dark-background-300 dark:text-dark-text-200;
		}
		.button-tab-active {
			@apply border border-brand-100 bg-background-300 font-medium text-text-100 transition-colors  dark:border-dark-brand-100 dark:bg-dark-background-300 dark:text-dark-text-100;
		}

}