.root {
--input-padding: 1.2rem;

--input-focus-color: theme("colors.brand.200");
--input-text-color: theme("colors.text.100");
--input-placeholder-color: theme("colors.text.200");
--input-placeholder-bg-color:theme("colors.transparent");
--input-bg-color: theme("colors.transparent");

&.dark {
    --input-focus-color: theme("colors.dark.brand.200");
    --input-text-color: theme("colors.dark.text.100");
    --input-placeholder-color: theme("colors.dark.text.200"); 
    --input-placeholder-bg-color:theme("colors.transparent");
    --input-bg-color: theme("colors.transparent");

}

border-radius: 8px;
padding:  1.2rem  1rem;
position: relative;
height: 4.8rem;
display: flex;
width: 100%;
align-items: center;
justify-content: space-between;
gap: 1.6rem;
user-select: none;
background-color: var(--input-bg-color);
border: 1px solid transparent;
transition: border-color 100ms ease;


   


}

.input {
    padding: var(--input-padding);
    background-color: var(--input-bg-color);
    outline: none;
    border-radius: 8px;
    color: var(--input-text-color);
    width: 100%;
    border-color: transparent;
    transition: border-color 100ms;

  
}

.placeholder {
    position: absolute;
    color:var(--input-placeholder-color);
    right: var(--input-padding);
    transition: all 0.2s ease-in;
    margin-right: 1rem;
    padding: 4px;
    font-size: 1.6rem;

    &.placeholderActive {
        transform: translateY(calc(-1 * var(--input-padding) - 1.2rem));
        font-size: 1.4rem;
        color:var(--input-placeholder-color);
        background-color: var(--input-placeholder-bg-color);
    }

}

